%if_parameter_AdviceBills%

<div class="Paper_A4_Portrait_20x15x20x15">
<p class="para1">1. Εδώ τοποθετείτε τα τιμολόγια με την σειρά καταχώρησης στο φύλλο καταχώρησης εγγράφων.</p>
<p class="para1">2. Βεβαιωθείτε για τα παρακάτω:</p>
<p class="para2">α. Κάθε τιμολόγιο έχει σφραγίδα του καταστήματος, υπογραφή του εκδότη και σφραγίδα ή γραμμένο με στυλό το "εξωφλήθη".</p>
<p class="para2">β. Κάθε τιμολόγιο είναι θεωρημένο από τον Δκτη, τον ΕΟΥ και την Επιτροπή Αγοράς και Διάθεσης ή Αφανών Εργασιών.</p>
<p class="para2">γ. Υπάρχει στο αρχείο, Φ/Α για κάθε τιμολόγιο.</p>
</div>

<br class="nextPage">

%endif%


%if_parameter_AdviceSubfolderCPromh8eiaEpiskeuh%

<div class="Paper_A4_Portrait_20x15x20x15">
<p class="para1">1. Εδώ τοποθετείτε τα παρακάτω, με τη σειρά που είναι καταχωρημένα στο φύλλο καταχώρησης εγγράφων:</p>
<p class="para2">α. Διπλότυπο είσπραξης ΦΕ από την Εφορία.</p>
<p class="para2">β. Διπλότυπο ή απόδειξη κατάθεσης κρατήσεων (αν αυτές έχουν πληρωθεί).</p>
<p class="para2">γ. ΑΔΔΥ για κάθε υλικό που δεν είναι αναλώσιμο ή για αναλώσιμα άνω των 30 ευρώ.</p>
</div>

<br class="nextPage">

%endif%


%if_parameter_AdviceSubfolderAPromh8eiaEpiskeuh%

<div class="Paper_A4_Portrait_20x15x20x15">
<p class="para1">1. Εδώ τοποθετείτε Ακριβές Φ/Α της Διάθεσης Πιστώσεως του προϊσταμένου, με στρογγυλή σφραγίδα και υπογραφή.</p>
<p class="para1">2. Ακολουθεί η Συγκρότηση Επιτροπών που εκδώσατε εσείς και η οποία είναι εις διπλούν. Μία μπαίνει στο τέλος του Υποφακέλου &laquo;Α&raquo; και μία στην αρχή του Υποφακέλου &laquo;Β&raquo;.</p>
</div>

<br class="nextPage">

%endif%