%request_money_digit_cost_money_"Πόσα λεφτά να ζητάει η απόδειξη;"%
%if_equal_0_parameter_money%%set_money_cost_money%%endif%

<div class="Paper_A4_Portrait_20x20x20x35">

<h1 class="t">ΑΠΟΔΕΙΞΗ %euro_parameter_money%</h1>
<p class="para">Ο υπογεγραμένος %cost_work_officer% έλαβα %full_written_parameter_money% (%euro_parameter_money%) από το %cost_money_source% για %cost_title%.</p>
<p align=right>%system_date%</p>
<table class="f" style="font-size: 80%"><tr>
<td nowrap class="c">ΘΕΩΡΗΘΗΚΕ<br>- Ο -<br>ΔΝΤΗΣ</td>
<td nowrap class="c"><br>- Ο -<br>ΕΟΥ</td>
<td nowrap class="c"><br>- Ο -<br>ΔΙΑΧ. ΧΡΗΜΑΤΙΚΟΥ</td>
<td nowrap class="c"><br>- Ο -<br>ΥΠΟΤΑΜΙΑΣ</td>
<td nowrap class="c"><br>- Ο -<br>ΛΑΒΩΝ<br><br><br><br>%cost_work_officer_name%<br>%cost_work_officer_rank%</td>
<td nowrap class="c"><br>- Ο -<br>ΔΚΤΗΣ<br><br><br><br>%static_commander_name%<br>%static_commander_rank%</td>
</tr></table>

<br><br><br><hr><br><br><br>

<h1 class="t">ΕΞΟΥΣΙΟΔΟΤΗΣΗ</h1>
<p class="para">Ο υπογεγραμένος %cost_work_officer%, εξουσιοδοτώ τον ....................................... να παραλάβει %full_written_parameter_money% (%euro_parameter_money%) από το %cost_money_source% για %cost_title%.</p>
<p align=right>%system_date%</p>
<table class="f"><tr>
<td nowrap class="c">ΘΕΩΡΗΘΗΚΕ<br>ΓΙΑ ΤΟ ΓΝΗΣΙΟ ΤΗΣ ΥΠΟΓΡΑΦΗΣ</td>
<td nowrap class="c">- Ο -<br>ΕΞΟΥΣΙΟΔΟΤΩΝ<br><br><br><br>%cost_work_officer_name%<br>%cost_work_officer_rank%</td>
<td nowrap class="c">- Ο -<br>ΕΞΟΥΣΙΟΔΟΤΟΥΜΕΝΟΣ</td>
</tr></table>

</div>
<br class="nextPage">