%set_sxedio_boolean_false%
%set_prereport_boolean_false%

%include_outpaper%

%start_counter_letter_subfolder%




%if_parameter_building%




%else%




%include_contents%
%include_subfolder%

%set_AdviceSubfolderAPromh8eiaEpiskeuh_boolean_true%
%include_advice%
%reset_AdviceSubfolderAPromh8eiaEpiskeuh%

%include_my_order%
%include_subfolder%
%include_agora_dia8esh%
%include_paralabh_ergasias%
%include_poiotikh_paralabh%
%include_report%

%set_AdviceBills_boolean_true%
%include_advice%
%reset_AdviceBills%

%include_hold%
%include_subfolder%

%set_AdviceSubfolderCPromh8eiaEpiskeuh_boolean_true%
%include_advice%
%reset_AdviceSubfolderCPromh8eiaEpiskeuh%

%include_bebaiwsh_anefodiastikou_organou%
%include_bebaiwsh_episkeuastikou_organou%

%endif%




%end_counter%