%enum_bills_with_fe_bills_by_provider%

<div class="Paper_A4_Landscape_20x15x20x15">
<table class="f"><tr><td width=99%><br>ΣΤΟΙΧΕΙΑ ΤΟΥ ΥΠΟΧΡΕΟΥ</td><td nowrap>%capital_static_outfit%<br>%static_office%</td></tr></table>
<table class="f"><tr>
<td class="lc" nowrap style="border-right-style: none">%static_outfit%<br><b>Επωνυμία</b><br><br>%static_city% %static_province% %static_address% %static_tk%<br><b>Διεύθυνση (Πόλη - Οδός - Τ.Κ.)</b><br><br>%static_afm%<br><b>Α.Φ.Μ.</b></td>
<td class="lc" nowrap style="border-left-style: none">Στρατιωτική Μονάδα<br><b>Νομική Μορφή</b><br><br>Εξωτ.: %static_phone_external% Εσωτ.:%static_phone_internal%<br><b>Αρ. Τηλεφώνου</b><br><br>%static_doy%<br><b>Δ.Ο.Υ.</b></td>
<td class="c"><b>ΒΕΒΑΙΩΣΗ</b><br><br>Παρακρατούμενου φόρου από προμήθειες κάθε είδους αγαθών ή παροχής υπηρεσιών από τις δημόσιες ΟΤΑ, ΝΠΔΔ κ.λ.π. (περιπτ. στ' παραγ. 1 άρθρου 37α του Ν.Δ. 3323/1955)</td>
</tr></table>
<br>I. ΣΤΟΙΧΕΙΑ ΕΠΙΧΕΙΡΗΣΗΣ
<table class="lf"><tr>
<td class="c" nowrap>%bwfbbp_key_provider_name%<br><b>Επωνυμία</b><br><br>%bwfbbp_key_provider_city% %bwfbbp_key_provider_address% %bwfbbp_key_provider_tk%<br><b>Διεύθυνση (Πόλη - Οδός - Τ.Κ.)</b></td>
<td class="c" nowrap>%bwfbbp_key_provider_father%<br><b>Όνομα πατρός ή συζύγου</b><br><br>%bwfbbp_key_provider_phone%<br><b>Αρ. Τηλεφώνου</b></td>
<td class="c" nowrap>%bwfbbp_key_provider_afm%<br><b>Α.Φ.Μ.</b><br><br>%bwfbbp_key_provider_doy%<br><b>Δ.Ο.Υ.</b></td>
</tr></table>
<br>II. ΣΤΟΙΧΕΙΑ ΣΥΝΑΛΛΑΓΗΣ
<table class="f">
<tr><td class="lc">Είδος τιμολογίου</td><td class="lc">Αριθμός τιμολογίου</td><td class="lc">Καθαρό ποσό συναλλαγής</td><td class="lc" colspan=2>Ποσό φόρου που παρακρατήθηκε</td></tr>
%enum_bwfbbp_value_bills%
<tr><td class="l" nowrap>%b_style%</td><td class="lc" nowrap>%b_name%</td><td class="lr" nowrap>%euro_b_clear_fe_cost%</td><td class="lc" nowrap>%percent_b_fe_percent%</td><td class="lr" nowrap>%euro_b_fe_euro%</td></tr>
%end_enum%
<tr><td class="lr" nowrap colspan="2">ΣΥΝΟΛΟ</td><td class="lr" nowrap>%euro_bwfbbp_value_bills_clear_fe_cost%</td><td class="lr" colspan=2>%euro_bwfbbp_value_bills_fe_euro%</td></tr>
</table>
<p align="right" style="margin: 0; padding: 0">%static_city%, %system_date%</p>
<table class="f"><tr>
<td class="c">ΕΘΕΩΡΗΘΗ<br>- Ο -<br>ΔΙΟΙΚΗΤΗΣ<br><br><br>%static_commander_name%<br>%static_commander_rank%</td>
<td class="c"><br>- Ο -<br>ΒΕΒΑΙΩΝ<br><br><br>%static_office_officer_name%<br>%static_office_officer_rank%</td>
</tr></table>
</div>
<br class="nextPage">

%end_enum%