<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7">

<style>

body {font-family: Arial, Helvetica, sans-serif; font-size: 12pt}

@page Paper_A4_Portrait_20x15x20x15
	{size: 210mm 297mm; margin: 20mm 15mm 20mm 15mm; page-break-after: always}
div.Paper_A4_Portrait_20x15x20x15
	{page: Paper_A4_Portrait_20x15x20x15}

@page Paper_A4_Portrait_20x20x20x35
	{size: 210mm 297mm; margin: 20mm 20mm 20mm 35mm; page-break-after: always}
div.Paper_A4_Portrait_20x20x20x35
	{page: Paper_A4_Portrait_20x20x20x35}

@page Paper_A4_Landscape_20x15x20x15
	{size: 297mm 210mm; mso-page-orientation:landscape; margin: 20mm 15mm 20mm 15mm; page-break-after: always}
div.Paper_A4_Landscape_20x15x20x15
	{page: Paper_A4_Landscape_20x15x20x15}

br { clear: both }
br.nextPage {page-break-before: always; mso-break-type: section-break}

h1.outpaper, h2.outpaper {text-align: center; font-style: italic; font-weight: bold; text-decoration: underline}
h1.outpaper {font-size: 18pt}
h2.outpaper {font-size: 16pt}
table.f {border-collapse: collapse; border: none; width: 100%}
table.lf {border-collapse: collapse; border: 1px solid black; width: 100%}
th.l, td.l {border: 1px solid black; margin: 0; vertical-align: top}
th.lr, td.lr {text-align: right; border: 1px solid black; margin: 0; vertical-align: top}
td.lc {text-align: center; border: 1px solid black; margin: 0; vertical-align: top}
th, td {margin: 0; vertical-align: top}
th.r, td.r {text-align: right; margin: 0; vertical-align: top}
th.c, td.c {text-align: center; margin: 0; vertical-align: top}

h1.t { text-decoration: underline; text-align: center; font-weight: bold; font-size: 14pt}

h1.subfolder {margin-top: 11cm; text-align: center; font-family: Arial; font-size: 36pt}

p.para {text-align: justify}
p.para1 {text-align: justify; text-indent: 10mm}
p.para2 {text-align: justify; text-indent: 20mm}
p.para3 {text-align: justify; text-indent: 30mm}
p.para4 {text-align: justify; text-indent: 40mm}
p.para5 {text-align: justify; text-indent: 50mm}
p.para2c {text-align: justify; text-indent: 20mm; margin: 0}
p.para3c {text-align: justify; text-indent: 30mm; margin: 0}

</style>

</head>


<body>

